<div class="header">
 
    <div class="header-left">
        <h3>Hello, Peerathud</h3>
        <p>Have a nice day</p>
    </div>

  
    <div class="header-right">
        <span class="notification-icon">
            <span class="material-symbols-outlined">notifications </span>
            <span class="notification-dot"></span>
        </span>
        <div class="divider"></div> 
        <div class="user-profile">
            <div class="profile-pic"></div>
            <div class="user-info">
                <span class="username">Peerathud Poungnil</span>
                <span class="role">Admin</span>
            </div>
            <span class="material-symbols-outlined icon">keyboard_arrow_down </span>
        </div>
    </div>
</div>
