<div class="list">
    <div class="headerList">
        <p>List User</p> 
            
          
    </div>
    <div class="testHead">
        <div class="b1">Name</div>
         
        <div class="b3">Create Date</div>
        <div class="b4">Role</div>
        <div class="b5">Action</div>
    </div>
   
    <div class="Table">
        <table>
            <tbody class="test">

                <tr *ngFor="let user of allUsers">
                    <td class="name">
                        <span>{{ user.firstName }} {{ user.lastName }}</span><br>
                        <span class="mail">{{user.email}}</span>
                    </td>
                    <td>
                        <button class="btn-role" *ngIf="user.role.roleId=='employee'" style="background-color:rgb(234, 234, 234);color:gray">{{user.role.roleName}}</button>
                        <button class="btn-role" *ngIf="user.role.roleId!='employee'" style="background-color:#0095FF">{{user.role.roleName}}</button>
                    </td>
                    <td>{{user.createdDate| date}}</td>
                    <td>{{user.role.roleName}}</td>
                    <td>
                        <div class="action">
                           <span class="material-symbols-outlined icon clickable" (click)="editUser(user.userId)">
                                border_color
                            </span>
                        
                            <span class="material-symbols-outlined  clickable" (click)="deleteUser(user.userId)">
                                delete
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="paginator">
         <mat-paginator  [length]="totalCount"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOption"
                    [pageIndex]="currentPage"
                    (page)="handlePageEvent($event)" >
                    </mat-paginator>
    </div>
   
</div>