<div class="list">
    <div class="headerList">
        <p>List User</p>
    </div>
    <div class="testHead">
        <div class="b1">Name</div>
         
        <div class="b3">Create Date</div>
        <div class="b4">Role</div>
        <div class="b5">Action</div>
    </div>
    <div class="Table">
        <table>
          

            <tbody class="test">

                <tr *ngFor="let user of pagedData">
                    <td class="name">
                        <span>{{user.name}}</span><br>
                        <span class="mail">{{user.email}}</span>
                    </td>
                    <td>
                        <button class="btn-role">{{user.role}}</button>
                    </td>
                    <td>{{user.createDate}}</td>
                    <td>{{user.role}}</td>
                    <td>
                        <div class="action">
                           <span class="material-symbols-outlined icon clickable" (click)="editUser()">
                                border_color
                            </span>
                        
                            <span class="material-symbols-outlined  clickable" (click)="deleteUser()">
                                delete
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="paginator">
         <mat-paginator  [length]="users.length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOption"
                    [pageIndex]="currentPage"
                    (page)="handlePageEvent($event)" >
                    </mat-paginator>
    </div>
   
</div>