<app-sidebar></app-sidebar>
<div class="main-layout">
    <!-- header -->
    <div class="contentAndHeader">
        <app-header></app-header>
        <div class="content">
            <div class="pagename">Users Dashboard</div>
            <!-- toolbar -->
            <div class="testtoolbar">
                <app-toolbar></app-toolbar>
            </div>
            <!-- testUserTable -->
            <div class="testUserTable">
                <app-user-table></app-user-table>
            </div>
        </div>
    </div>

</div>