<nav class="sidebar">
    <div class="header">YOURLOGO</div>
    <ul>
        <li routerLinkActive="active">
            <a routerLink="/dashboard">
                <span class="material-symbols-outlined icon">bar_chart_4_bars</span>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/users">
                <span class="material-symbols-outlined icon"> person </span> <span class="text">Users</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/documents" routerLinkActive="active">

                <span class="material-symbols-outlined icon">description </span> <span>Documents</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/Photos">
                <span class="material-symbols-outlined icon">imagesmode</span><span>Photos</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/Hierarchy">
                <span class="material-symbols-outlined icon"> volunteer_activism</span><span>Hierarchy</span>
            </a>
        </li>


    </ul>
    <ul>
        <li routerLinkActive="active">
            <a routerLink="/Message">
                <span class="material-symbols-outlined icon">sms </span> <span>Message</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/Help">
                <span class="material-symbols-outlined icon">help</span><span>Help</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/settings">
                <span class="material-symbols-outlined icon"> settings </span><span class="text">Settings</span>
            </a>
        </li>
    </ul>
</nav>
<nav>
    <ul></ul>
</nav>