<h2 mat-dialog-title>Add User</h2>
<div mat-dialog-content class="dialog-container">
    <form [formGroup]="userForm" (ngSubmit)="onEditUser()">

        <div class="input-container">
            <mat-form-field>
                <input matInput formControlName="id" placeholder="User ID*" [readonly]="true">
                <mat-error *ngIf="userForm.get('userId')?.hasError('required')">User ID is required</mat-error>
            </mat-form-field>
            <div class="name">
                <mat-form-field>
                 
                    <input matInput formControlName="firstName" placeholder="First Name*">
                    <mat-error *ngIf="userForm.get('firstName')?.hasError('required')">First Name is
                        required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="lastName" placeholder="Last Name*">
                    <mat-error *ngIf="userForm.get('lastName')?.hasError('required')">Last Name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="input-section2">
                <mat-form-field>
                    <input matInput formControlName="email" placeholder="Email ID*">
                    <mat-error *ngIf="userForm.get('email')?.hasError('required')">Email ID is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="phone" placeholder="Mobile No">
                </mat-form-field>
                <div class="role-selection">
                    <mat-form-field>
                        <mat-select formControlName="roleId">
                            <mat-option value="" disabled>Select Role Type</mat-option>
                            <mat-option value="employee">Employee</mat-option>
                            <mat-option value="admin">Admin</mat-option>
                            <mat-option value="superadmin">Super Admin</mat-option>
                            <mat-option value="loremipsum">Test1</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="input-section3">
                <mat-form-field>
                    <input matInput formControlName="username" placeholder="Username*">
                    <mat-error *ngIf="userForm.get('username')?.hasError('required')">Username is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="password" type="password" placeholder="Password*">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password*">
                        <mat-error *ngIf="userForm.get('confirmPassword')?.hasError('mismatch')">Passwords do not match!</mat-error>
                </mat-form-field>
            </div>

         
        </div>

    </form>
    <table mat-table [dataSource]="permissionsData">
        <ng-container matColumnDef="module">
            <th mat-header-cell *matHeaderCellDef> Module Permission </th>
            <td mat-cell *matCellDef="let element"> {{element.module}} </td>
        </ng-container>

        <ng-container matColumnDef="Read">
            <th mat-header-cell *matHeaderCellDef> Read</th>
            <td mat-cell *matCellDef="let element"><mat-checkbox [(ngModel)]="element.isReadable"  ></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="Write">
            <th mat-header-cell *matHeaderCellDef> Write</th>
            <td mat-cell *matCellDef="let element"><mat-checkbox  [(ngModel)]="element.isWritable" name="isWritable-{{element.module}}"></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef> Delete</th>
            <td mat-cell *matCellDef="let element"><mat-checkbox [(ngModel)]="element.isDeletable" name="isDeletable-{{element.module}}"></mat-checkbox>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div mat-dialog-actions class="btn">
    <button mat-button (click)="onEditUser()" class="btnEditUser">Save Changes</button>
    <button mat-button (click)="onCancel()" class="btnCancel">Cancel</button>

</div>